/* SingleCell Styling */
.single-cell {
    -fx-background-color: #ffffff; /* White background for clean look */
    -fx-border-color: #e0e0e0; /* Light gray border for subtle distinction */
    -fx-border-width: 1px; /* Border width */
    -fx-border-radius: 4px; /* Rounded corners for a softer appearance */
    /*-fx-padding: 8px; !* Slightly increased padding for better spacing *!*/
    -fx-alignment: center; /* Center alignment */
    -fx-cursor: hand; /* Pointer cursor for interactivity */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 4, 0, 0, 1); /* Subtle shadow for depth */
}

.single-cell:hover {
    -fx-background-color: #f9f9f9; /* Slightly darker background on hover */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 6, 0, 0, 2); /* Enhanced shadow effect on hover */
}

/* AnchorPane inside SingleCell */
.single-cell .anchor-pane {
    -fx-background-color: #ffffff; /* White background for consistency */
    -fx-border-color: #e0e0e0; /* Light gray border for consistency */
    -fx-border-width: 1px; /* Border width for consistency */
    -fx-border-radius: 4px; /* Rounded corners for consistency */
    /*-fx-padding: 5px; !* Padding to match the SingleCell styling *!*/
}

/*!* Value Label Styling *!*/
/*.single-cell .value-label {*/
/*    -fx-font-size: 14px; !* Larger font size for better readability *!*/
/*    -fx-text-fill: #333333; !* Dark text color for contrast *!*/
/*    -fx-font-weight: bold; !* Bold font for emphasis *!*/
/*}*/



/* Selected Cell Styles */
.selected-cell {
    -fx-background-color: #b3e0ff; /* Light blue background */
    -fx-border-color: #0056a0; /* Darker blue border for visibility */
    -fx-border-width: 3px; /* Thicker border to highlight selection */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 8, 0.5, 0, 0); /* Strong shadow for emphasis */
}

/* Selected Row and Column Styles */
.selected-row, .selected-column {
    -fx-background-color: #b3e0ff; /* Light blue background */
    -fx-border-color: #0056a0; /* Darker blue border */
    -fx-border-width: 3px; /* Thicker border */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 8, 0.5, 0, 0); /* Strong shadow */
}

.depends-on-cell {
    -fx-effect: dropshadow(gaussian, rgb(0, 208, 255), 2, 0.5, 0, 0);
    -fx-border-style: dotted;
    -fx-border-width: 3px;
    -fx-border-color: rgb(0, 208, 255);
}

.influence-on-cell {
    -fx-effect: dropshadow(gaussian, rgb(40, 246, 18), 2, 0.5, 0, 0);
    -fx-border-style: dotted;
    -fx-border-width: 3px;
    -fx-border-color: rgb(40, 246, 18);
}

.range-mark {
    -fx-background-color: rgba(103, 238, 117, 0.3);
    -fx-border-color: rgba(17, 182, 34, 0.5);
    -fx-border-width: 1px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}