.gridPane {
    -fx-background-color: #f8c6c6;
    -fx-border-color: #d0d0d0;
    -fx-border-width: 1px;
}

.shticell-title {
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-text-fill: #EE6767;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 3, 0, 0, 1);
    -fx-font-family: "Georgia";
}

.file-path-label {
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-background-radius: 20;
    -fx-text-fill: rgba(0, 0, 0, 0.5);
    -fx-border-radius: 13px;
    -fx-font-weight: bold;
}

.header-label {
    -fx-font-family: "Georgia";
    -fx-font-size: 14;
}

.text-field {
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-text-fill: rgba(0, 0, 0, 0.8);
    -fx-border-radius: 13px;
    -fx-font-weight: bold;
    -fx-border-color: black;
    -fx-border-width: 1;
}

.combo-box {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #EE6767, #B61111);
    -fx-border-color: linear-gradient(from 0% 100% to 0% 0%, #B61111, #EE6767);
    -fx-border-width: 2px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 3, 0, 0, 1);
}

.combo-box .arrow-button {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-border-color: white;
    -fx-padding: 0 8 0 8;
}

.combo-box .arrow-button .arrow {
    -fx-border-color: white;
    -fx-background-color: white;
}

.combo-box:editable .text-field {
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
}

.combo-box:hover {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #F47676, #C22222);
    -fx-border-color: linear-gradient(from 0% 100% to 0% 0%, #C22222, #F47676);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.35), 4, 0, 0, 1.5);
}

.button {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #EE6767, #B61111);
    -fx-border-color: linear-gradient(from 0% 100% to 0% 0%, #B61111, #EE6767);
    -fx-border-width: 2px;
    -fx-background-radius: 10px;
    -fx-border-radius: 13px;
    -fx-background-insets: 2;
    -fx-border-insets: 2;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 3, 0, 0, 1);
}

.button:hover {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #F47676, #C22222);
    -fx-border-color: linear-gradient(from 0% 100% to 0% 0%, #C22222, #F47676);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.35), 4, 0, 0, 1.5);
}

.button:pressed {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #C95656, #91110E);
    -fx-border-color: linear-gradient(from 0% 100% to 0% 0%, #91110E, #C95656);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 2, 0, 0, 0.5);
}

.choice-box {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #EE6767, #B61111);
    -fx-border-color: linear-gradient(from 0% 100% to 0% 0%, #B61111, #EE6767);
    -fx-border-width: 2px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 3, 0, 0, 1);
}

.choice-box .open-button .arrow {
    -fx-border-color: white;
    -fx-background-color: white;
}

.choice-box .label {
    -fx-text-fill: black;
}

.choice-box:hover {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #F47676, #C22222);
    -fx-border-color: linear-gradient(from 0% 100% to 0% 0%, #C22222, #F47676);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.35), 4, 0, 0, 1.5);
}
