.single-cell {
    -fx-background-color: #ffffff;
    -fx-border-color: #e0e0e0;
    -fx-alignment: center;
    -fx-cursor: hand;
}

.single-cell:hover {
    -fx-background-color: #f9f9f9;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 6, 0, 0, 2);
}

.single-cell .anchor-pane {
    -fx-background-color: #ffffff;
}

.depends-on-cell {
    -fx-effect: dropshadow(gaussian, rgb(0, 208, 255), 2, 0.5, 0, 0);
    -fx-border-style: dotted;
    -fx-border-width: 3px;
    -fx-border-color: rgb(0, 208, 255);
}

.influence-on-cell {
    -fx-effect: dropshadow(gaussian, rgb(40, 246, 18), 2, 0.5, 0, 0);
    -fx-border-style: dotted;
    -fx-border-width: 3px;
    -fx-border-color: rgb(40, 246, 18);
}


.selected-cell {
    -fx-background-color: #b8ffb3;
    -fx-border-color: #11B622;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 8, 0.5, 0, 0);
}

.selected-row, .selected-column {
    -fx-background-color: #b8ffb3;
    -fx-border-color: #11B622;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 8, 0.5, 0, 0);
}

.range-mark {
    -fx-background-color: rgba(103, 238, 117, 0.3);
    -fx-border-color: rgba(17, 182, 34, 0.5);
    -fx-border-width: 1px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}