.general-vbox {
    -fx-background-color: #ffffff;
    -fx-border-color: #d0d0d0;
}

.cell-style-label {
    -fx-font-size: 24;
    -fx-text-fill: #67EE75;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 3, 0, 0, 1);
}

.button {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #67EE75, #11B622);
    -fx-border-color: linear-gradient(from 0% 100% to 0% 0%, #11B622, #67EE75);
    -fx-border-width: 2px;
    -fx-background-radius: 10px;
    -fx-border-radius: 13px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 3, 0, 0, 1);
}

.list-view .list-cell {
    -fx-background-radius: 10;
}

.button:hover {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #76F485, #22C232);
    -fx-border-color: linear-gradient(from 0% 100% to 0% 0%, #22C232, #76F485);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.35), 4, 0, 0, 1.5);
}

.button:pressed {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #56c964, #0e8e1b);
    -fx-border-color: linear-gradient(from 0% 100% to 0% 0%, #0e8e1b, #56c964);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 2, 0, 0, 0.5);
}

.list-view {
    -fx-background-radius: 10;
}

.color-picker {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #67EE75, #11B622);
    -fx-border-color: linear-gradient(from 0% 100% to 0% 0%, #11B622, #67EE75);
    -fx-border-width: 2px;
    -fx-background-radius: 10px;
    -fx-border-radius: 13px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 3, 0, 0, 1);
}

.color-picker .label {
    -fx-text-fill: white;
}

.toggle-button {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #67EE75, #11B622);
    -fx-border-color: linear-gradient(from 0% 100% to 0% 0%, #11B622, #67EE75);
    -fx-border-width: 2px;
    -fx-background-radius: 10px;
    -fx-border-radius: 13px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 3, 0, 0, 1);
}

.toggle-button:hover {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #76F485, #22C232);
    -fx-border-color: linear-gradient(from 0% 100% to 0% 0%, #22C232, #76F485);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.35), 4, 0, 0, 1.5);
}

.toggle-button:pressed {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #56c964, #0e8e1b);
    -fx-border-color: linear-gradient(from 0% 100% to 0% 0%, #0e8e1b, #56c964);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 2, 0, 0, 0.5);
}

.toggle-button:selected {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #56c964, #0e8e1b);
    -fx-border-color: linear-gradient(from 0% 100% to 0% 0%, #0e8e1b, #56c964);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 2, 0, 0, 0.5);
}