.general-vbox {
    -fx-background-color: #f8c6c6;
    -fx-border-color: #d0d0d0;
}

.left-label {
    -fx-font-family: "Georgia";
    -fx-font-size: 14;
}

.cell-style-label {
    -fx-font-family: "Georgia";
    -fx-font-size: 24;
    -fx-text-fill: #EE6767;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 3, 0, 0, 1);
}

.button {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #EE6767, #B61111);
    -fx-border-color: linear-gradient(from 0% 100% to 0% 0%, #B61111, #EE6767);
    -fx-border-width: 2px;
    -fx-background-radius: 10px;
    -fx-border-radius: 13px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 3, 0, 0, 1);
}

.button:hover {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #F47676, #C22222);
    -fx-border-color: linear-gradient(from 0% 100% to 0% 0%, #C22222, #F47676);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.35), 4, 0, 0, 1.5);
}

.button:pressed {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #C95656, #91110E);
    -fx-border-color: linear-gradient(from 0% 100% to 0% 0%, #91110E, #C95656);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 2, 0, 0, 0.5);
}

.list-view {
    -fx-background-radius: 10;
}

.color-picker {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #EE6767, #B61111);
    -fx-border-color: linear-gradient(from 0% 100% to 0% 0%, #B61111, #EE6767);
    -fx-border-width: 2px;
    -fx-background-radius: 10px;
    -fx-border-radius: 13px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 3, 0, 0, 1);
}

.color-picker .label {
    -fx-text-fill: white;
}

.toggle-button {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #EE6767, #B61111);
    -fx-border-color: linear-gradient(from 0% 100% to 0% 0%, #B61111, #EE6767);
    -fx-border-width: 2px;
    -fx-background-radius: 10px;
    -fx-border-radius: 13px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 3, 0, 0, 1);
}

.toggle-button:hover {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #F47676, #C22222);
    -fx-border-color: linear-gradient(from 0% 100% to 0% 0%, #C22222, #F47676);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.35), 4, 0, 0, 1.5);
}

.toggle-button:pressed {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #C95656, #91110E);
    -fx-border-color: linear-gradient(from 0% 100% to 0% 0%, #91110E, #C95656);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 2, 0, 0, 0.5);
}

.toggle-button:selected {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #C95656, #91110E);
    -fx-border-color: linear-gradient(from 0% 100% to 0% 0%, #91110E, #C95656);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 2, 0, 0, 0.5);
}